@layer theme {
  :root {
    /* 색상 관련 테마 */
    color-scheme: light dark;

    --white: #fff;
    --black: #000;

    --gray-100: #bcc3c7;
    --gray-200: #9b9a90;
    --gray-500: #6d7478;
    --gray-950: #040404;

    --green-100: #03cc5c;
    --green-200: #11d975;
    --green-300: #22be61;

    /* 여백 관련 테마 */
    --spacing-xs: 0.75rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.25rem;
    --spacing-lg: 2.5rem;
    --spacing-xl: 3rem;

    /* 글자 크기 */
    --font-xs: 0.625rem; /* 10px */
    --font-sm: 0.875rem; /* 14px */
    --font-base: 1rem; /* 16px */
    --font-lg: 1.125rem; /* 18px */
    --font-xl: 1.25rem; /* 20px */
  }
}
