.avatar-list {
  --columns: 2;

  margin: var(--spacing-xl);
  background: conic-gradient(from 0.25turn at 50% 30%, #f69d3c, 10deg, #3f87a6, 350deg, #ebf8e1);
  border: 1px solid var(--gray-500);
  padding: var(--spacing-lg) var(--spacing-xl);
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(120px, 200px));
  gap: var(--spacing-md);
  justify-content: center;

  @media (width >= 768px) {
    --columns: 4;
  }

  @media (width >= 1440px) {
    --columns: 8;
  }

  button {
    --size: 100%;
  }
}
