/* 종횡비 : aspect-raio */
body{
  margin: 3em;
}

.case-01{
  width: 30vw;
  aspect-ratio: 1/1;
  border: 10px solid red;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
}

.case-02{
  width: 30vw;
  aspect-ratio: 1/1;
  border: 10px solid green;
  background: url(./images/medium-1024.jpg) 0 0 /cover;
}

.case-03{
  width: 100%;
  border: 10px solid blue;
  aspect-ratio: 16/9;

  iframe{
    width: 100%;
    height: 100%;
  }
}